Operators in python

  ## 1. Arithmetic Operators 

  ### addition 
  add two numbers

  #### forexample

In [7]:
a=10
b=6
c=a+b
print(c) #output: 16

16

In [8]:
a=18
1+=5
print(a) # output: 23

SyntaxError: 'literal' is an illegal expression for augmented assignment (3190493119.py, line 2)

### subtraction
subtract second number from first number.
#### forexample

In [ ]:
a=15
b=10
c=a-b
print(c) # output: 5

In [ ]:
a=8
a-7
print(a) # output: 1

### multiplication
multiply two numbers

#### forexample

In [ ]:
a=2
b=5
c=a*b
print(c) # output: 10

In [ ]:
a=7
a*=2
print(a) # output: 14

### division 
divides first number by second number 
#### forexample

In [ ]:
a=10
b=5
c=10/5
print(c) # output: 2

In [ ]:
a=12
a/=2
print(a) # output: 6

### floor division 
divides and remove decimal part.
#### syntax
a//b
#### forexample

In [ ]:
a=10
b=4
c=a//b
print(c) # output: 2

In [ ]:
a=8
a//=3
print(a) # output: 2

### modulus
gives reminder after division
#### syntax
a%b
#### forexample

In [ ]:
a=12
b=6
c=a%b
print(c) #output: 0

### exponent
raises first number to the power of second number.
#### syntax
a**b
#### forexample

In [ ]:
a=2
b=2
c=a**b
print(c) # output: 4

In [ ]:
a = 9
b = 2

print(a + b)  # Output: 11
print(a - b)  # Output: 7
print(a * b)  # Output: 18
print(a / b)  # Output: 4.5
print(a % b)  # Output: 1 reminder 
#power 
print(a ** b)
#floor division
print(a // b)  # Output: 4

### 2. Assingment operators
an asiignment operator assign a value to a variable.
#### syntax
variable=value
#### forexample

In [ ]:
x = 5
y = 10

y += 5 # y = y + 5 
print(y)  # Output: 15

x *= 2 # x = x * 2
print(x)

### 3. Comparison (Relational Operators )
relationa operator compares two values and return a boolean(true or false).

== equal to

!= not equal to

 (>) greater than

(<) less than

(>=) greater than or equal to

(<=) less than or equal to

#### forexample

In [ ]:
a = 11
b = 3 

print( a == b )
print( a != b )
print( a > b )
print(a < b)
print( a >= b )
print(a <= b)

### logical operator
logical operators combine conditional statements and return true or false.
#### and
true if both conditions are true.
#### or 
true if atleast one condition is true
#### not
 reverse the boolean value
 ##### forexample

In [ ]:
4. # Logical Operators and, or, not
# and -> multiplication -> 0 - > false ,1 -> true 
# or -> addition 
# not -> negation

p = 10
q = 4 

print ( (p > 5) and (q < 3) )  # True and false  -> false
print ( (p > 5) or (q < 3) )   # True or false  -> true
print ( not(p > 5) )            # not true -> false

### 5. Membership operator
membership operator checks if a value exist in a sequence and return true or false.

#### in opertator
return true if value is present
### not in operator
return true if value is not present

In [ ]:
# Membership Operators

fruits = [ "banana", "cherry"]

In [ ]:
print("apple"  in fruits)  # in operator--> false

In [ ]:
print("apple" not in fruits) #not in operator--> true

### tuple
a tuple is an ordered collection of items written inside round brackets (), and its elements cannot be modified.

#### syntax
tuple_name=(value1, value2, value3)

#### forexample

In [9]:
numbers =(12, 10, 11)
print(numbers)

(12, 10, 11)